/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER PAGE  */

.site-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.main {
  padding-top: 56px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-site-img {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-site-img:hover {
  opacity: 0.7;
}

.logo-site-img:active {
  opacity: 0.4;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav__item:not(:last-child) {
  padding: 16px;
}


.nav__link {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-stack);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav__link:hover {
  border-bottom: 3px solid #191919;
}

.nav__link:active {
  background: rgba(25, 25, 25, 0.7);
  color: #fff;
}

.dropdown {
  display: none;
  width: 124px;
  position: absolute;
  left: 45%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.dropdown__item {
  list-style: none;
  padding: 16px;
}

.dropdown__link {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #000;
}

.dropdown__link:hover {
  display: block;
  background-color: var(--link-bg-color);
  color: #fff;
}

.dropdown__link:active {
  background-color: var(--link-bg-color);
  opacity: 0.6;
}

.nav__item:hover .dropdown {
  display: block;
}

.nav-link-number {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

.nav-link-call {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  right: 100px;
  top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  margin-left: 24px;
  border: 3px solid transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-link-call:hover {
  background-color: #fff;
  color: #00BAFC;
  border: 3px solid #00BAFC;
  padding: 8px 16px;
}

.nav-link-call:active {
  background: rgba(0, 186, 252, 0.6);
  border-radius: 5px;
  color: #fff;
  border: none;
}

