:root {
  --link-bg-color: #00BAFC;
  --footer-bg-color: #191919;
  --color-text: #000;
  --font-stack: "Open Sans", "Arial", sans-serif;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER  */

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}

.button--phone {
  padding: 5px 13px;
  border: 3px solid transparent;
  background-color: var(--link-bg-color);
  color: #fff;
}

.button--phone:hover {
  background-color: #fff;
  border-color: var(--link-bg-color);
  color: var(--link-bg-color);
}

.button--phone:active {
  background-color: var(--link-bg-color);
  color: #fff;
  opacity: 0.6;
}

.button--primary {
  background-color: var(--accent-color);
  color: #fff;
}

.button--primary:hover {
  background-color: var(--accent-color-80);
}

.button--primary:active {
  background-color: var(--accent-color-60);
}


/* SITE-HEADER */
.site-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.site-header__container {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.4;
}

.logo__img {
  display: block;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__phone {
  margin-left: 8px;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  z-index: 1;
}

.sitenav__link {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--text-color);
  transition: box-shadow 0.3s ease;
  white-space: nowrap;
}

.sitenav__link:hover,
.sitenav__item--active .sitenav__link {
  box-shadow: inset 0 -3px 0 0 var(--color-text);
}

.sitenav__link:active {
  background-color: rgba(25, 25, 25, 0.7);
  color: #fff;
  box-shadow: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  border-radius: 5px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.sitenav__item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 8px 16px;
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: var(--link-bg-color);
  color: #fff;
}

.dropdown-menu a:active {
  opacity: 0.6;
}


/* SITE HERO PAGES */

.hero-wrapper {
  display: flex;
}

.hero-left {
  padding-top: 97px;
  padding-bottom: 97px;
  margin-right: 172px;
}

.hero-right {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero__title {
  width: 470px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  font-family: var(--font-stack);
  color: var(--color-text);
  margin-bottom: 16px;
}

.hero__text  {
  width: 465px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-stack);
  color: var(--color-text);
  margin-bottom: 16px;
}

.hero__link {
  text-decoration: none;
  padding: 8px 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--link-bg-color);
  border-radius: 5px;
  color: #fff;
}

.hero__link:hover {
  background: rgba(0, 186, 252, 0.8);
}

.hero__link:active {
  background: rgba(0, 186, 252, 0.6);
}

.video-from-youtube {
  border-radius: 6px;
  width: 458px;
  height: 258px;
  border: none;

}

/* SECTION SERVICES  */

.services {
  padding-top: 56px;
  padding-bottom: 56px;
}

.servic__title {
  width: 117px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-left: auto;
  margin-right: auto;
}

.servic__text {
  width: 719px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.servic__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 24px;
}

.servic__item {
  width: 320px;
  left: 100px;
  top: 8px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style: none;
  margin-right: 70px;
  margin-top: 48px;
}

.servic__item:hover {
  background: #FFFFFF;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.servic__item:active {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.servic__item:nth-child(3) {
  margin-right: 0;
}

.servic__link {
  text-decoration: none;
}

.servic-list__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-stack);
  margin-top: 16px;
}


.servic-list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-stack);
}

.order-servic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.servic-link {
  text-decoration: none;
  padding: 8px 16px;
  background: #00BAFC;
  border-radius: 5px;
  color: #fff;
  margin-right: 16px;
  padding: 24px 58px;
}

.servic-link:hover {
  background: rgba(0, 186, 252, 0.8);
}

.servic-link:active {
  background-color: rgba(0, 186, 252, 0.6);
}

.servic-next {
  color: var(--link-bg-color);
}


/* HOW WE WORK PAGE  */

.how-we-work__list {
  max-width: 830px;
  margin: 8px auto 0;
  padding: 0;
  list-style: none;
}

.how-we-work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-we-work__item:nth-child(even) {
  flex-direction: row-reverse;
}

.how-we-work__item:not(:last-child) {
  margin-bottom: 48px;
}

.how-we-work__item::before {
  width: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.how-we-work__item-req::before {
  height: 278px;
  background-image: url(../img/step-illlustration.svg);
}

.how-we-work__item-offerc::before {
  height: 224px;
  background-image: url(../img/step-illlustration-girl.svg);
}

.how-we-work__item-deadline::before {
  height: 258px;
  background-image: url(../img/illustration-with-laptop.svg);
}

.how-we-work__item-quality::before {
  height: 171px;
  background-image: url(../img/illustration-happy.svg)
}

.how-we-work__item-support::before {
  height: 232px;
  background-image: url(../img/qollab-quvvatlash.svg);
}

.how-we-work-detailes {
  width: 500px;
}

.how-we-work__step__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: 20px;
  line-height: 1.3;
}

.how-we-work__step-info {
  margin: 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
  margin-top: 50px;
}



/* FORM section  */

.form-section {
  background-color: var(--link-bg-color);
  padding-top: 56px;
  padding-bottom: 64px;
}

.form-order__title {
  width: 203px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  font-family: var(--font-stack);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.form-order__text {
  width: 719px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-family: var(--font-stack);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.user-form {
  width: 348px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.input-field {
  width: 100%;
  background: #F3F3F3;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
}

::placeholder {
  color: var(--color-text);
}

.order-btn {
  /* width: 167px; */
  padding: 8px 16px;
  background-color: var(--link-bg-color);
  border-radius: 5px;
  color: #fff;
  margin-left: auto;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  /* margin-left: 62px;
  margin-right: 90px; */
}

.order-btn:hover {
  background: rgba(0, 186, 252, 0.8);
  border-radius: 5px;
}

.order-btn:active {
    background-color: rgba(0, 186, 252, 0.6);
}

/* FOOTER SECTION  */

.footer-section {
  background-color: var(--footer-bg-color);
  padding-top: 56px ;
  padding-bottom: 56px;
}

.footer-rapper {
  display: flex;
  align-items: flex-start !important;
  justify-content: start;
}


.footer-info__title {
  width: 149px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  font-family: var(--font-stack);
  color: #fff;
  margin-bottom: 16px;
}

.footer-info__text {
  /* width: 320px; */
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-stack);
  color: #fff;
}

.site-pages{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-pages__title {
  width: 143px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.pages__list{
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.pages__item {
  list-style: none;
  margin-bottom: 8px;
}

.footer-list__link {
  width: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: var(--font-stack);
  color: #fff;
  transition: color 0.3s ease;
}

.footer-list__link:hover {
  color: var(--link-bg-color);
}

.footer-list__link:active {
  opacity: 0.6;
}

.social__title {
  width: 142px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
}

.social__item {
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 8px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social__link::before {
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px  ;
  transition: opacity 0.3s ease;
}

.social__link:hover {
  color: var(--link-bg-color);
}

.social__link:active {
  opacity: 0.6;
}

.social__link-tg::before {
  display: block;
  content: "";
  width: 22px;
  height: 23px;
  background-image: url("../img/telegram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link-fb::before {
  display: block;
  content: "";
  width: 22px;
  height: 23px;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link-in::before {
    display: block;
    content: "";
    width: 22px;
    height: 23px;
    background-image: url("../img/instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
